---
import Layout from '../layouts/Layout-registro.astro';
---

<Layout title="Plantilla">
  <body>
    <img id="estrellas" src="Imagenes/Registro/Estrellas.png">
    <img id="fondo" src="Imagenes/Registro/Fondo.svg">
    <div id="blur"></div>
    <a id="cerrar" href="/index.html"><img id="x" src="Imagenes/Registro/x.svg"></a>
    <header>
      <h1>Completa tu Perfil</h1>
      <p id="subtexto-principal">Completa los últimos campos de tu perfil para poder disfrutar<br> plenamente de todas las funciones de la app</p>
    </header>
    <form id="startupForm" method="post">
      <!-- Paso 1: Nombre -->
      <div id="step1" class="step">
        <input id="nombre" type="text" name="nombre" placeholder="Nombre" required>
        <button id="next1" class="next" type="button"><img id="flecha" src="Imagenes/Registro/Flecha.svg"></button>
      </div>
      <!-- Paso 2: Usuario -->
      <div id="step2" class="step" style="display: none;">
        <input id="ciudad" type="text" name="ciudad" placeholder="Ciudad" required autocomplete="off">
        <input id="pais" type="text" name="pais" placeholder="País" required autocomplete="off">
        <button id="next2" class="next" type="button"><img id="flecha" src="Imagenes/Registro/Flecha.svg"></button>
      </div>
      <!-- Paso 3: Sector -->
      <div id="step3" class="step" style="display: none;">
        <input id="sector" type="text" name="sector" placeholder="Sector" required>
        <button id="next3" class="next" type="button"><img id="flecha" src="Imagenes/Registro/Flecha.svg"></button>
      </div>

      <!-- Paso 4: Nº Plantilla -->
      <div id="step4" class="step" style="display: none;">
        <div class="number-input">
          <button type="button" class="decrement">-</button>
          <input id="plantilla" type="number" name="plantilla" placeholder="Nº Plantilla" required>
          <button type="button" class="increment">+</button>
        </div>
        <button id="next4" class="next" type="button"><img id="flecha" src="Imagenes/Registro/Flecha.svg"></button>
      </div>

      <!-- Paso 5: Porcentaje -->
      <div id="step5" class="step" style="display: none;">
        <div class="number-input">
          <button type="button" class="decrement">-</button>
          <input id="porcentaje" type="number" name="porcentaje" placeholder="Ej: 20 (no vendido)" required min="0" max="100">
          <button type="button" class="increment">+</button>
        </div>
        <button id="next5" class="next" type="button"><img id="flecha" src="Imagenes/Registro/Flecha.svg"></button>
      </div>

      <div id="step6" class="financiation-container" style="display: none">
        <h1 id="titulo2">Ronda de Financiación</h1>
        <div class="financiation-card" data-value="Autoinversión">
          <lord-icon
          src="https://cdn.lordicon.com/nkfxhqqr.json"
          trigger="hover"
            colors="primary:#aaaaaa,secondary:#aaaaaa"
            style="width:90px;height:90px">
          </lord-icon>
          <p>Autoinversion</p>
        </div>
        <div class="financiation-card" data-value="Pre-Seed">
          <lord-icon
            src="https://cdn.lordicon.com/ysonqgnt.json"
            trigger="hover"
            colors="primary:#aaaaaa,secondary:#aaaaaa"
            style="width:90px;height:90px">
          </lord-icon>
          <p id="texto2">Pre-Seed</p>
        </div>
        <div class="financiation-card" data-value="Seed">
          <lord-icon
            src="https://cdn.lordicon.com/lsfszdzd.json"
            trigger="hover"
            colors="primary:#aaaaaa,secondary:#aaaaaa"
            style="width:90px;height:90px">
          </lord-icon>
          <p id="texto2">Seed</p>
        </div>
        <div class="financiation-card" data-value="Serie A">
          <lord-icon
            src="https://cdn.lordicon.com/abwrkdvl.json"
            trigger="hover"
            colors="primary:#aaaaaa,secondary:#aaaaaa"
            style="width:90px;height:90px">
          </lord-icon>
          <p id="texto2">Serie A</p>
        </div>
        <div class="financiation-card" data-value="Serie B">
          <lord-icon
            src="https://cdn.lordicon.com/qhsqomjd.json"
            trigger="hover"
            colors="primary:#aaaaaa,secondary:#aaaaaa"
            style="width:90px;height:90px">
          </lord-icon>
          <p id="texto2">Serie B</p>
        </div>
        <div class="financiation-card" data-value="Serie C">
          <lord-icon
            src="https://cdn.lordicon.com/trkmlure.json"
            trigger="hover"
            colors="primary:#aaaaaa,secondary:#aaaaaa"
            style="width:90px;height:90px">
          </lord-icon>
          <p id="texto2">Serie C</p>
        </div>
        <button id="button-role" type="submit" class="confirm-role" disabled>CREAR PERFIL</button>
      </div>
            
    </form>
  </body>

  <script>
    import axios from "axios";
  
    const blurDiv = document.getElementById('blur');
    const startupForm = document.getElementById('startupForm');
    const step1 = document.getElementById('step1');
    const step2 = document.getElementById('step2');
    const step3 = document.getElementById('step3');
    const step4 = document.getElementById('step4');
    const step5 = document.getElementById('step5');
    const step6 = document.getElementById('step6');
  
    const next1 = document.getElementById('next1');
    const next2 = document.getElementById('next2');
    const next3 = document.getElementById('next3');
    const next4 = document.getElementById('next4');
    const next5 = document.getElementById('next5');
    const button = document.getElementById('button-role');
  
    const nombreInput = document.getElementById('nombre');
    const ciudadInput = document.getElementById('ciudad');
    const paisInput = document.getElementById('pais');
    const sectorInput = document.getElementById('sector');
    const plantillaInput = document.getElementById('plantilla');
    const porcentajeInput = document.getElementById('porcentaje');
  
    let financiation = '';

    document.querySelectorAll('.number-input').forEach(wrapper => {
    const input = wrapper.querySelector('input');
    const increment = wrapper.querySelector('.increment');
    const decrement = wrapper.querySelector('.decrement');

      increment.addEventListener('click', () => {
        input.value = parseInt(input.value || 0) + 1;
      });

      decrement.addEventListener('click', () => {
        if (parseInt(input.value) > 0) {
          input.value = parseInt(input.value || 0) - 1;
        }
      });
    });

    document.addEventListener('DOMContentLoaded', () => {
      nombreInput.addEventListener('input', function() {
        if (nombreInput.value !== '') {
          blurDiv.classList.add('blur-active');
        }
      });
  
      document.addEventListener('click', function(event) {
        const isClickInsideForm = startupForm.contains(event.target);
        if (!isClickInsideForm) {
          startupForm.reset();
          step1.style.display = 'block';
          step2.style.display = 'none';
          step3.style.display = 'none';
          step4.style.display = 'none';
          step5.style.display = 'none';
          step6.style.display = 'none';
          button.style.display = 'none';
          blurDiv.classList.remove('blur-active');
        }
      });
  
      // Manejo de transición de pasos
      next1.addEventListener('click', function () {
        if (nombreInput.value) {
          step1.style.display = 'none';
          step2.style.display = 'block';
        } else {
          alert('Por favor, ingresa tu nombre.');
        }
      });
  
      next2.addEventListener('click', function () {
        if (ciudadInput.value && paisInput.value) {
          step2.style.display = 'none';
          step3.style.display = 'block';
        } else {
          alert('Por favor, ingresa tu país y tu ciudad.');
        }
      });
  
      next3.addEventListener('click', function () {
        if (sectorInput.value) {
          step3.style.display = 'none';
          step4.style.display = 'block';
        } else {
          alert('Por favor, ingresa tu sector.');
        }
      });
  
      next4.addEventListener('click', function () {
        if (plantillaInput.value) {
          step4.style.display = 'none';
          step5.style.display = 'block';
        } else {
          alert('Por favor, ingresa tu número de plantilla.');
        }
      });
  
      next5.addEventListener('click', function () {
        if (porcentajeInput.value) {
          step5.style.display = 'none';
          step6.style.display = 'flex';
          button.style.display = 'block';
        } else {
          alert('Por favor, indica tu porcentaje no vendido.');
        }
      });
  
      // Obtener el valor de la tarjeta seleccionada
      const financiationCards = document.querySelectorAll('.financiation-card');
      financiationCards.forEach(card => {
        card.addEventListener('click', function () {
          financiation = card.getAttribute('data-value'); // Almacena la opción seleccionada
          financiationCards.forEach(c => c.classList.remove('selected')); // Remover la clase seleccionada de otras tarjetas
          card.classList.add('selected'); // Agregar clase de selección a la tarjeta actual
  
          // Habilitar el botón de envío
          button.disabled = false;
        });
      });
  
      // Función para enviar los datos del formulario
      button.addEventListener('click', async function(event) {
    event.preventDefault();

    try {
        const userIdCookie = document.cookie.split('; ').find(row => row.startsWith('userId='));
        const userId = userIdCookie ? userIdCookie.split('=')[1] : null;

        // Obtener los valores de los campos del formulario
        const estado_financiacion = document.querySelector('.financiation-card.selected')?.getAttribute('data-value');
        const nombre_startup = nombreInput.value;
        const ciudad = ciudadInput.value;
        const pais = paisInput.value;
        const sector = sectorInput.value;
        const plantilla = plantillaInput.value;
        const porcentaje = porcentajeInput.value;

        // Enviar la solicitud POST con axios
        const response = await axios.post(`http://localhost:5000/api/auth/crear-startup/${userId}`, {
            nombre_startup,
            ciudad,
            pais,
            sector,
            plantilla,
            porcentaje,
            estado_financiacion
        }, {
          withCredentials: true
        });

        // Manejo de la respuesta
        if (response.status === 200) {
            window.location.href = 'http://localhost:3000/';
        } else {
            alert('Hubo un problema al completar el registro.');
        }
    } catch (error) {
        // Capturar y manejar errores
        console.error('Error en el registro:', error.response || error.message);
        alert('Error al conectarse al servidor: ' + (error.response ? error.response.data : error.message));
    }
  });
});
  </script>
</Layout>

<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  img#estrellas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  img#fondo{
    position: absolute;
    align-self: center;
    width: 100%;
    height: 80%;
    z-index: -2;
  }

  div#blur{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #0909129c;
    backdrop-filter: blur(10px);
    transition: z-index 0.1s ease;
  }

  div#blur.blur-active {
    z-index: 3; /* Mantén este valor bajo el input (z-index 4) */
  }

  a#cerrar{
    position: absolute;
    left: 60px;
    top: 60px;
    z-index: 4;
  }

  h1{
    position: relative;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    background: linear-gradient(150deg, #FFFFFF 0%, #fff 30%, #6B6B71 70%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    margin-top: 310px;
  }

  p#subtexto-principal{
    position: relative;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #9292ad;
    margin-top: -15px;
    margin-bottom: 15px;
  }

  form{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    align-self: center;
    z-index: 4;
    flex-direction: column; /* Cambiar a columna para mejor distribución */
  }

  input{
    width: 85%;
    height: inherit;
    padding: 0px 8px 1px 0px;
    color: rgb(255, 255, 255);
    transition: color 0.3s;
    border: none;
    background: transparent;
    color: rgb(255, 255, 255);
    caret-color: rgb(71, 159, 250);
    font-size: 14px;
  }

  input#ciudad, input#pais{
    width: 40%;
  }

  .step{
    position: relative;
    width: 320px;
    height: 44px;
    background: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.08);
    box-shadow: rgba(0, 0, 0, 0.08) 1px 1px 1px inset;
    backdrop-filter: blur(2px);
    border-radius: 92px;
    padding-left: 21px;
    display: flex;
    cursor: text;
    align-self: center;
  }

  #titulo2{
    position: absolute;
    margin-top: -29rem;
    background: linear-gradient(130deg, #FFFFFF 0%, #fff 30%, #6B6B71);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
  }

  .financiation-container {
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 40px;
    row-gap: 20px;
    top: -160px;
    max-width: 65%;
    flex-wrap: wrap;
    left: 215px;
  }

  .financiation-card {
    width: 101px;
    height: 116px;
    background: rgba(255, 255, 255, 0.06);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px; /* Bordes más redondeados */
    margin: 10px; /* Mayor separación entre tarjetas */
    padding: 25px; /* Más espacio interior */
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease; /* Agregar animación de transformación */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
  }

  .financiation-card.selected {
  border: 2px solid #683FEA; /* Color de borde para la tarjeta seleccionada */
  box-shadow: 0px 4px 10px #673fea35
  }


  .financiation-card:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-3px); /* Levantar la tarjeta al pasar el mouse */
    border: 2px solid #683FEA; /* Color de borde para la tarjeta seleccionada */
    box-shadow: 0px 4px 10px #673fea35
  }

  .financiation-card p {
    position: relative;
    font-size: 14px;
    background: linear-gradient(160deg, #FFFFFF 0%, #ffffff 50%, #6B6B71 99%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    text-align: center;
    bottom: -2px;
  }

  .confirm-role {
    background-color: #683FEA;
    position: absolute;
    display: none;
    color: #e9e9e9;
    border: 2px solid #683FEA; /* Color de borde para la tarjeta seleccionada */
    box-shadow: 0px 0px 20px #673fea75;
    border-radius: 25px;
    font-size: 14px;
    width: 200px;
    height: 44px;
    bottom: -70px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .confirm-role:disabled {
  background-color: rgba(101, 101, 101, 0.2);
  cursor: auto;
  border: none;
  box-shadow: none;
}

  input:focus {
    outline: none;
  }

  .next{
    background-color: transparent;
    border: none;
    position: absolute;
    display: flex;
    width: 25px;
    height: 25px;
    right: 20px;
    top: 9px;
    border-radius: 50px;
    cursor: pointer;
  }

  lord-icon{
    position: relative;
  }

  .number-input {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
  margin-top: 7px;
}

.number-input input {
  width: 60%;
  text-align: center;
}

.number-input .increment,
.number-input .decrement {
  background: rgba(255, 255, 255, 0.06);
  border: 0.5px solid rgba(255, 255, 255, 0.08);
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2px;
  position: relative;
}

/* Para Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


</style>
