--- 
import Layout from '../layouts/Layout-registro.astro'; 
---

<Layout title="Plantilla">
    <body>
        <img id="estrellas" src="Imagenes/Registro/Estrellas.png">
        <img id="fondo" src="Imagenes/Registro/Fondo.svg">
        <div id="blur"></div>
        <a id="cerrar" href="/index.html"><img id="x" src="Imagenes/Registro/x.svg"></a>
        <header>
            <h1>Entra en Astrae</h1>
            <p id="subtexto-principal">Si ya has accedido a Astrae, puedes entrar con <br>tu email o iniciando sesión con tu cuenta de Google</p>
        </header>
        <form id="loginForm">
            <input id="email" type="email" placeholder="Introduce email" required>
            <div id="password-container" style="display: none;">
                <input id="password" type="password" placeholder="Contraseña" required> 
                <span id="toggle-password" style="cursor: pointer;">
                    <img id="eye-icon" src="Imagenes/Registro/Ojo cerrado.png" alt="Mostrar/Ocultar Contraseña">
                </span>
            </div>            
            <button id="submit-btn" type="submit"><img id="flecha" src="Imagenes/Registro/Flecha.svg"></button>
        </form>
        <button id="iniciar" type="button"><img id="google" src="Imagenes/Registro/Inicia sesion con google.svg"></button>
        <p class="texto-abajo"><span id="regular">¿No tienes cuenta todavía?</span><a href="/registro" id="texto-abajo">Regístrate</a></p>
    </body>
    <script>
        import axios from 'axios';
    
        const loginForm = document.getElementById('loginForm');
        const emailInput = document.getElementById('email');
        const passwordContainer = document.getElementById('password-container');
        const passwordInput = document.getElementById('password');
    
        // Función para manejar el formulario de inicio de sesión
        loginForm.addEventListener('submit', async function (event) {
            event.preventDefault();
    
            const email = emailInput.value;
            
            // Verificar si el campo de contraseña está visible
            if (passwordContainer.style.display === 'none') {
                // Validar que se haya ingresado un email
                if (!email) {
                    alert('Por favor, introduce un email válido');
                    return;
                }
                
                // Mostrar el campo de la contraseña
                passwordContainer.style.display = 'block';
                return;
            }
        
            // Obtener la contraseña
            const password = passwordInput.value;
        
            // Validar que se haya ingresado una contraseña
            if (!password) {
                alert('Por favor, introduce una contraseña');
                return;
            }
    
            try {
                const response = await axios.post('http://localhost:5000/api/auth/iniciar-sesion', {
                    email,
                    password
                });
    
                // Verifica el contenido de la respuesta
                console.log('Response data:', response.data);
    
                if (response.status === 200) {
                    // Guardar token en cookies
                    document.cookie = `token=${response.data.token}; path=/; ${process.env.NODE_ENV === 'production' ? 'secure; ' : ''}HttpOnly`;
    
                    // Configurar y almacenar el refresh token en la cookie
                    document.cookie = `refreshToken=${response.data.refreshToken}; path=/; ${process.env.NODE_ENV === 'production' ? 'secure; ' : ''}HttpOnly`;
    
                    window.location.href = 'http://localhost:3000/'; // Redirigir al dashboard
                } 
                else {
                    alert(response.data.message || 'Error en el inicio de sesión');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('Error al conectarse al servidor');
            }
        });
    </script>
</Layout>



<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    img#estrellas{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    img#fondo{
        position: absolute;
        align-self: center;
        width: 100%;
        height: 80%;
        z-index: -2;
    }

    div#blur{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #0909129c;
        backdrop-filter: blur(10px);
        transition: z-index 0.1s ease;
    }

    div#blur.blur-active {
        z-index: 3; /* Mantén este valor bajo el input (z-index 4) */
    }

    a#cerrar{
        position: absolute;
        left: 60px;
        top: 60px;
        z-index: 4;
    }

    h1{
        position: relative;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: -1px;
        background: linear-gradient(150deg, #FFFFFF 0%, #fff 30%, #6B6B71 70%);
        -webkit-background-clip: text;
        color: transparent;
        background-clip: text;
        margin-top: 275px;
    }

    p#subtexto-principal{
        position: relative;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #9292ad;
        margin-top: -20px;
        margin-bottom: 22px;
    }
    
    form{
        position: relative;
        width: 320px;
        height: 44px;
        background: rgba(255, 255, 255, 0.06);
        border: 0.5px solid rgba(255, 255, 255, 0.08);
        box-shadow: rgba(0, 0, 0, 0.08) 1px 1px 1px inset;
        backdrop-filter: blur(2px);
        border-radius: 92px;
        padding-left: 21px;
        display: flex;
        cursor: text;
        align-self: center;
        z-index: 4;
    }

    input{
        width: 85%;
        padding: 0px 8px 1px 0px;
        color: rgb(255, 255, 255);
        transition: color 0.3s;
        margin-top: 2px;
        border: none;
        background: transparent;
        color: rgb(255, 255, 255);
        caret-color: rgb(71, 159, 250);
    }

    input#password{
        width: 78%;
    }

    input:focus {
        outline: none;
    }

    div#password-container {
        position: relative;
        width: inherit;
    }

    span#toggle-password {
        position: absolute;
        right: 63px;
        top: 14px;
    }

    img#eye-icon {
        position: absolute;
        width: 16px;
        height: 16px;
    }

    button{
        background-color: transparent;
        border: none;
        position: absolute;
        display: flex;
        align-self: center;
        width: 25px;
        height: 25px;
        right: 9px;
        border-radius: 50px;
        cursor: pointer;
    }

    img#flecha{
        position: relative;
        align-self: center;
        width: 25px;
        height: 25px;
        right: 7px;
    }

    button#iniciar{
        position: relative;
        width: 190px;
        height: 20.57px;
        align-self: center;
        margin-top: 27px;
    }

    img#google{
        width: 190px;
    }

    .texto-abajo{
        margin-top: 300px;
        text-align: center;
        position: relative;
        font-size: 13px;
        z-index: 4;
    }

    span#regular{
        color: #B0B0B0;
        font-weight: 300;
        margin-right: 8px;
    }

    a#texto-abajo{
        position: relative;
        font-size: 13px;
        font-weight: 400;
        bottom: 0;
        align-self: center;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }

    a#texto-abajo:hover{
        text-decoration: underline;
    }
</style>