---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title> Astrae | Portal de inversión en Startups </title> 
	</head>
	<body>
        <section class="contenedor-navegador">
            <nav>
                <a href="#" id="menu"><img src="Imagenes/Navbar/Menú.svg" hidden></a>
                <a href="/index.html" id="logo"><img src="Imagenes/Navbar/Logo.svg"></a>
                <a href="/inicio-sesion" id="usuario"> <img src="Imagenes/Navbar/Inversor.svg"> </a>
            </nav>
        </section>
	</body>
</html>
<style is:global>
    body{
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: #090912;
        color: #fff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        overflow-x: hidden;
    }
    
    nav {
        width: 662px;
        height: 49px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
        position: fixed;
        top: 65px;
        z-index: 1000;
        border-radius: 10px;
        backdrop-filter: blur(8px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px; 

    }

    @media (max-width: 768px) {
        nav {
            width: 87%;
            height: 49px;
            padding-left: 23px;
        }
    }

    .contenedor-navegador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 1.5rem 0px;
    }
        
    a#menu, a#usuario {
        width: 19px;
        height: 19px;
    }

    a#menu {
        margin-right: 23px;
    }

    a#logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    a#usuario {
        margin-left: 15px;
        margin-right: 10px;
        margin-top: -3px;
    }
</style>

<script>
    document.getElementById('logo').addEventListener('click', function(event) {
        // Verifica si estás en index.html
        if (window.location.pathname === '/index.html') {
            event.preventDefault(); // Evita la navegación inmediata
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    });
</script>